 <div id="box">

        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <div>
            <div class="errorContainer">
                <p>Error</p>
            </div>
        </div>-->

        <main>
            <section id="deatils-page">
                <div class="wrapper">
                    <div class="product-img">
                        <img src={{imageUrl}}>
                    </div>
                    <div class="product-info">
                        <div class="product-text">
                            <div class="product-text">
                                <h1>Name: {{homeName}}</h1>
                                <h2>Type: {{type}}</h2>
                                <h4>Year: {{year}}</h4>
                                <h4>City: {{city}}</h4>
                                <p>Description: {{description}}</p>

                                <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                                {{#if tenants}}
                                <p>People rented this housing: {{tenants}}</p>

                                <!-- If not display: -->
                                {{else}}
                                <p>People rented this housing: There are no tenants yet.</p>
                                {{/if}}
                               
                            </div>
                        </div>
            
                        <!-- if there is no registered user, do not display buttons-->
                        {{#if isUser}}
                        <div class="product-btn">
                            <!-- Only for registered user and creator of the housing offer-->
                            {{#if isOwner}}
                            <a href="/housing/{{_id}}/edit" class="edit">Edit</a>
                            <a href="/housing/{{_id}}/delete" class="remove">Delete</a>
                            {{else if isTenant}}
                            <!-- logged in user with available pieces-->
                            <p class="alRentHome">You have already rent this home</p>
                            {{else if isAvailable}}
                            <a href="/housing/{{_id}}/rent" class="rentHome">Rent a home, available {{availablePieces}} housing</a>
                            <!-- logged in user with no available pieces-->
                            {{else}}
                            <p class="no-housing">No Housing Available!</p>
                            {{/if}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </section>
        </main>


    </div>
